:host {
  width: 100%;
  height: 100%;
}

.start-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  color: white;
}

span {
  margin: 30px 0;
}

input {
  font-size: 16px;
  border: none;
  box-shadow: 0 -6px #ab3c3c, inset 0 0 15px 0px #ab3c3c;
  background: #cb4e4e;
  display: inline-block;
  margin: 0px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  position: relative;
  outline: none;
  text-align: center;
  padding: 15px 20px;
  border-radius: 5px;
  color: white;
  width: 200px;
  line-height: 16px;
}

.btn {
  width: 80px;
}

.btn.disabled {
  cursor: pointer;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.5);
}


::-webkit-input-placeholder { /* Chrome */
  color: rgba(255, 255, 255, 0.5);
}
:focus::-webkit-input-placeholder {
  opacity: 0.3;
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.5);
}
:focus:-ms-input-placeholder {
  opacity: 0.3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}
:focus::-moz-placeholder {
  opacity: 0.3;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgba(255, 255, 255, 0.5);
}
:focus:-moz-placeholder {
  opacity: 0.3;
}

input:focus {
  outline: none;
}

.animate-bottom {
  animation-name: animatebottom;
  animation-duration: 2s
}


@keyframes animatebottom {
  from{ /*transform: translate(0, 75vh);*/ opacity:0 }
  to{ /*transform: translate(0, 0);*/ opacity:1 }
}
