.drawing-board {
  user-select: none;
  cursor: none;
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.inputs-container {
  /*display: inline-block;*/
  position: absolute;
  top: 0;
}

input, button {
  /*display: block;*/
}
