<div class="drawing-board" [ngStyle]="{'height': drawingHeight + 'px', 'width': drawingWidth + 'px'}">
  <canvas appDrawingBoard #persistentBoard="appDrawingBoard"
          [viewPort]="viewPort"
          [drawingDisabled]="true"
          [width]="drawingWidth"
          [height]="drawingHeight"
          [drawingWidth]="drawingWidth"
          [drawingHeight]="drawingHeight"></canvas>
  <canvas appDrawingBoard #tempBoard="appDrawingBoard"
          [viewPort]="viewPort"
          [drawingDisabled]="drawingDisabled"
          [drawingSize]="drawingSize"
          [drawingColor]="drawingColor"
          [width]="drawingWidth"
          [height]="drawingHeight"
          [drawingWidth]="drawingWidth"
          [drawingHeight]="drawingHeight"
          (newToolData)="toolDataAdded($event)"></canvas>
  <div class="inputs-container" *ngIf="!drawingDisabled">
    <button (click)="reset()">Reset</button>
    <button (click)="undo()">Undo</button>
    <!--<button (click)="zoomIn()">Zoom in</button>-->
    <!--<button (click)="zoomOut()">Zoom out</button>-->
    <!--<button (click)="moveUp()">Move up</button>-->
    <!--<button (click)="moveDown()">Move down</button>-->
    <!--<button (click)="moveRight()">Move right</button>-->
    <!--<button (click)="moveLeft()">Move left</button>-->
    <input type="range" #sizeInput [(ngModel)]="drawingSize" value="5" min="0.1" max="50" step="0.1" title="Range"/>
    <input type="color" #colorInput title="color" [(ngModel)]="drawingColor" value="#44bbff"/>
    <input type="text" #widthInput [(ngModel)]="drawingWidth" (change)="resize()" title="Width"/>
    <input type="text" #heightInput [(ngModel)]="drawingHeight" (change)="resize()" title="Height"/>
    <input type="checkbox" [(ngModel)]="moving" (change)="toggleMovingTool()" />
    <input type="number" #xInput [(ngModel)]="viewPort.start.x" (change)="tempBoard.redraw(); persistentBoard.redraw()" title="x"/>
    <input type="number" #yInput [(ngModel)]="viewPort.start.y" (change)="tempBoard.redraw(); persistentBoard.redraw()" title="y"/>
    <input type="number" #zoomInput [(ngModel)]="viewPort.zoom" (change)="tempBoard.redraw(); persistentBoard.redraw()" title="zoom"/>
  </div>
</div>
