<div class="drawing-board" [ngStyle]="{'height': drawingHeight + 'px', 'width': drawingWidth + 'px'}">
  <canvas appDrawingBoard #persistentBoard="appDrawingBoard"
          [viewPort]="viewPort"
          [drawingDisabled]="true"
          [width]="drawingWidth"
          [height]="drawingHeight"
          [drawingWidth]="drawingWidth"
          [drawingHeight]="drawingHeight"></canvas>
  <canvas appDrawingBoard #tempBoard="appDrawingBoard"
          [viewPort]="viewPort"
          [drawingDisabled]="drawingDisabled"
          [drawingSize]="sizeInput.value"
          [drawingColor]="colorInput.value"
          [width]="drawingWidth"
          [height]="drawingHeight"
          [drawingWidth]="drawingWidth"
          [drawingHeight]="drawingHeight"
          (newPath)="pathDrawn($event)"></canvas>
  <div class="inputs-container">
    <button (click)="reset()">Reset</button>
    <button (click)="undo()">Undo</button>
    <button (click)="zoomIn()">Zoom in</button>
    <button (click)="zoomOut()">Zoom out</button>
    <button (click)="moveUp()">Move up</button>
    <button (click)="moveDown()">Move down</button>
    <button (click)="moveRight()">Move right</button>
    <button (click)="moveLeft()">Move left</button>
    <input type="range" #sizeInput value="5" min="1" max="50" step="1" title="Range"/>
    <input type="color" #colorInput title="color" value="#44bbff"/>
    <input type="text" #colorText [(ngModel)]="colorInput.value" title="Color"/>
    <input type="text" #widthInput [(ngModel)]="drawingWidth" (change)="resize()" title="Color"/>
    <input type="text" #heightInput [(ngModel)]="drawingHeight" (change)="resize()" title="Color"/>
  </div>
</div>
