<div class="chat">

</div>
<div class="drawing-board">
  <canvas drawingBoard #db1="drawingBoard" [drawingSize]="sizeInput.value" [drawingColor]="colorInput.value" width="800" height="600" (newPath)="db2.addPath($event)"></canvas>
</div>
<button (click)="reset()">Reset</button>
<button (click)="save()">Save</button>
<button (click)="load()">Load</button>
<button (click)="undo()">Undo</button>
<button (click)="create()">Create</button>
<button (click)="join()">Join</button>

<input type="range" #sizeInput value="5" min="1" max="50" step="1" title="Range"/>
<input type="text" [(ngModel)]="gameId" title="Game Id"/>
<input type="color" #colorInput title="color" value="#44bbff"/>
<input type="text" #colorText [(ngModel)]="colorInput.value" title="Color"/>
<div class="drawing-board">
  <canvas drawingBoard #db2="drawingBoard" [drawingDisabled]="true" width="800" height="600"></canvas>
</div>
